
.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 62px;
}

.sign-in form {
    margin-top: 62px;
    width: 335px;
    height: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.sign-in form input {
    width: 320px;
    height: 58px;
    margin-bottom: 13px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #F2EDED;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-left: 15px;
}

.sign-in input::placeholder {
    color: #6e6a6a;
    font-family: 'Josefin Sans';
}

.sign-in form button {
    width: 320px;
    height: 46px;
    background: #B89E19;
    border-radius: 5px;
    border: 1px solid #B89E19;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.sign-in p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-top: 36px;
    color: #000000;
}
