.main-home .home {
    width: 100vw;
    height: 152px;
}

.main-home .home img {
    width: 100vw;
    height: 152px;
}

.each-fade {
    display: flex;
    width: 100%;
  }
  
  .each-fade > div {
    width: 75%;
  }
  
  .each-fade > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.main-home .main-infos {
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-home .main-infos h3 {
    padding-right: 7px;
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #000000;
}

.main-home .main-infos img {
    width: 38px;
    height: 23px;
}

.main-home .colored-band {
    width: 100vw;
    height: 18px;
    margin-bottom: 10px;
    background: #000000;
}

.main-home .products-brecho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-home .products-brecho .product-description {
    width: 160px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.35;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.main-home .products-brecho .prices {
    display: flex;
}

.main-home .products-brecho .product-description img {
    width: 160px;
    height: 142px;
    border-radius: 8px 8px 0 0;
}

.main-home .products-brecho .product-description .brand {
    padding-top: 5px;
    font-weight: 700;
    padding-left: 5px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #000000;
}

.main-home .products-brecho .product-description .description {
    font-weight: 700;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 700;
    padding-left: 5px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #707070;
}

.main-home .products-brecho .product-description .price-before {
    padding-top: 5px;
    padding-left: 5px;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: line-through;
    color: #707070;
}

.main-home .products-brecho .product-description .price {
    padding-top: 5px;
    padding-left: 5px;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
}