.logo-sign-in h1 {
    font-style: normal;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #B89E19;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-in-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 2;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
}

.sign-in-header ion-icon {
    width: 26px;
    height: 26px;
    color: #000000;
}

.side-bar h2 {
    width: 250px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    color: #6e6a6a;
    display: flex;
    justify-content: left;
}

.side-bar h3 {
    width: 250px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    color: #6e6a6a;
    display: flex;
    justify-content: left;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    animation: sideBar 2s;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 260px;
}

.side-bar .side-bar-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.side-bar .side-bar-close .header-icon ion-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 10px;
    top: 15px;
    color: #6e6a6a;
}


@keyframes sideBar {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 265px;
    }
}