.logo-sign-in h1 {
    font-style: normal;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #B89E19;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-in-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 2;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
}

.sign-in-header ion-icon {
    width: 26px;
    height: 26px;
}
